<div class="home-banner">
  <div>
    <p class="home-banner-headline">
      <%= t('.headline') %>
    </p>

    <p class="text-center">
      <%= link_to t('.create_your_account'), signup_path, class: 'home-banner-call' %>
    </p>
  </div>
</div>
