<footer class="main-footer">
  <small>
    &copy; Taskv, 2015
  </small>

  <ul class="languages">
    <li>
      <%= link_to 'English', choose_locale_path(locale: 'en'), class: 'lang us' %>
    </li>

    <li>
      <%= link_to 'Portugues(Brasil)', choose_locale_path(locale: 'pt-BR'), class: 'lang br' %>
    </li>
  </ul>
</footer>
